body {
    background: #EDC7B7;
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: monospace;
}

.navigation {
    background-color: #EDC7B7;
}

.navigation li {
    position: relative;
    display: inline;
    width: auto;
}

.navigation a {
    text-decoration: none;
    display: inline-block;
    padding: 0.8vw 1.5vw 0.5vw 1.5vw;
    margin: auto;
    color: #AC3B61;
    font-size: 1.5vw;
}

.navigation a:hover {
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-color: black;
} 

img {
    border-radius: 50%;
    padding: 2% 0%;
    max-width: 100%;
    height: auto;  
}

#title {
    font-size: 4vw;
    color: #AC3B61;
}

.paragraphBlock {
    background-color: #EEE3DE;
    padding-bottom: 29%;
    padding-top: 5px;
}

#paragraphs {
    background-color: #EDC7B7;
    background-size: contain;
    left: 85vw;
    right: 10vw;
    border-radius: 0.7vw; 
    background-position: center;
    margin-right: 10vw;
    margin-left: 10vw;
    box-shadow: 0.1vw 0.1vw 0.5vw 0.5vw #EDC9B9;
}

#what h2 {
    font-size: 2.5vw;
    color: #AC3B61;
}

#what p {
    font-size: 1.5vw;
    color: #123c69;
    font-weight: bold;
}

#why h2 {
    font-size: 2.5vw;
    color: #AC3B61;
}

#why p {
    font-size: 1.5vw;
    color: #123c69;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 3.5vw;
    }
    
    .navigation a {
        font-size: 1.3vw;
    }
    
    #what h2,
    #why h2 {
        font-size: 2.2vw;
    }
    
    #what p,
    #why p {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 480px) {
    #title {
        font-size: 3vw;
    }
    
    .navigation a {
        font-size: 1.1vw;
        padding: 0.5vw 1vw 0.3vw 1vw;
    }
    
    #what h2,
    #why h2 {
        font-size: 2vw;
    }
    
    #what p,
    #why p {
        font-size: 1.1vw;
    }
    
    .paragraphBlock {
        padding-bottom: 50%;
    }
}
